<div class="container my-5" style:="style">
  <form not:="result" onsubmit="submit" novalidate>
    <fieldset>
      <legend if:="title">
        <span text:="title"></span>
      </legend>
      <div
        if:="description"
        class="alert alert-info"
        role="alert"
        style="white-space: pre-wrap;"
        text:="description"
      ></div>
      <div class="row my-3" each:="fields">
        <div class="col-md-3">
          <label
            class="form-label"
            title:="description"
            text:="title"
          ></label>
        </div>
        <div class="col-md-9">
          <input
            class="form-control"
            class:="feedback"
            name:="name"
            value:="value"
            data-parser:="parser"
            oninput="change"
          />
          <div
            class="invalid-feedback"
            text:="error"
          ></div>
        </div>
      </div>
      <div class="row g-2 align-items-center">
        <div with:="back" class="col-auto">
          <tag-back bind:></tag-back>
        </div>
        <div with:="submit" class="col-auto">
          <button
            type="submit"
            class:="link"
            disabled:="disabled"
          >
            <i class:="icon"></i>
            <template text:="label"></template>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
  <fieldset if:="result">
    <legend if:="title">
      <span text:="title"></span>
    </legend>
    <div
      class="alert alert-"
      class:="alert"
      role="alert"
      style="white-space: pre-wrap;"
      text:="result"
    ></div>
    <div class="row g-2 align-items-center">
      <div class="col-auto">
        <tag-back></tag-back>
      </div>
    </div>
  </fieldset>
</div>
