<div id="navbar">
  <nav class="navbar navbar-expand-lg {{NAVBAR}}">
    <div class="container-fluid">
      <ul if:="menu" class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="offcanvas"
            href="#sidebar"
            role="button"
            aria-controls="sidebar"
          >
            <i class:="menu"></i>
          </a>
        </li>
      </ul>
      <a class="navbar-brand" href="#/">
        {{TITLE}}
      </a>
      <span class="navbar-text" text:="current"></span>
      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <template each:="links">
            <li if:="children" class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                class:="css"
                data-bs-toggle="dropdown"
                role="button"
                aria-expanded="false"
              >
                <i if:="icon" class:="icon"></i>
                <template text:="title"></template>
              </a>
              <ul class="dropdown-menu">
                <li each:="children">
                  <a
                    class="dropdown-item"
                    class:="css"
                    href:="href"
                    data-index:="index"
                    onclick="toggle"
                  >
                    <i if:="icon" class:="icon"></i>
                    <template text:="title"></template>
                  </a>
                </li>
              </ul>
            </li>
            <li not:="children" class="nav-item">
              <a class="nav-link" class:="css" href:="href">
                <i if:="icon" class:="icon"></i>
                <template text:="title"></template>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="sidebar"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">
        <a
          href="#/"
          class="text-reset text-decoration-none"
          data-onclick="hide"
        >{{TITLE}}</a>
        <small class="text-secondary" text:="current"></small>
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <bs-list children:="sidebar"></bs-list>
    </div>
  </div>
</div>
<template id="bs-list">
  <ul each:="children" class="list-group">
    <li if:="children" class="list-group-item border-0" class:="css">
      <a
        class="text-decoration-none text-reset"
        href="javascript:;"
        data-index:="index"
        onclick="toggle"
      >
        <i if:="icon" class:="icon"></i>
        <template text:="title"></template>
        <i if:="indicator" class:="indicator"></i>
      </a>
    </li>
    <li if:="children" show:="open" class="list-group-item border-0 py-0">
      <bs-list children:="children"></bs-list>
    </li>
    <li not:="children" class="list-group-item border-0" class:="css">
      <a
        class="text-decoration-none text-reset"
        href:="href"
        onclick="hide"
      >
        <i if:="icon" class:="icon"></i>
        <template text:="title"></template>
      </a>
    </li>
  </ul>
</template>
