<div class="container my-5">
  <legend title:="description" text:="title"></legend>
  <div each:="fields" class="row my-3">
    <div class="col-md-3">
      <label class="form-label" title:="description" text:="title"></label>
    </div>
    <div class="col-md-9" style:="style">
      <tag-ui bind:></tag-ui>
    </div>
  </div>
  <div class="row g-2 align-items-center">
    <div with:="back" class="col-auto">
      <tag-back bind:></tag-back>
    </div>
    <div class="col-auto" each:="links">
      <a class:="link" href:="href" title:="description">
        <i class:="icon"></i>
        <template text:="title"></template>
      </a>
    </div>
  </div>
</div>
