<table class="
  table
  table-bordered
  table-center
  table-striped
  table-hover
">
  <thead>
    <tr show:="title">
      <th
        class="text-center"
        colspan="100%"
        title:="description"
        text:="title"
      ></th>
    </tr>
    <tr>
      <th class="text-center" colspan="100%">
        <div class="row gx-1 justify-content-center">
          <div class="col-auto">
            <tag-back></tag-back>
          </div>
          <div each:="links" class="col-auto">
            <a href:="href" class="{{css.link}}" class:="link">
              <i if:="icon" class="{{css.icon}}" class:="icon"></i>
              <span text:="title"></span>
            </a>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <td class="text-center" colspan="100%">
        <div class="row gx-1 justify-content-center">
          <div class="col-auto">
            <button
              class="{{css.link}}{{link.pagination}}"
              class:="cssFirst"
              onclick="first"
            >
              <i class="{{css.icon}}{{icon.first}}"></i>
            </button>
          </div>
          <div class="col-auto">
            <button
              class="{{css.link}}{{link.pagination}}"
              class:="cssFirst"
              onclick="previous"
            >
              <i class="{{css.icon}}{{icon.previous}}"></i>
            </button>
          </div>
          <div class="col-auto my-auto">
            <select class="form-control" onchange="pager">
              <option each:="pagination" bind:></option>
            </select>
          </div>
          <div class="col-auto">
            <button
              class="{{css.link}}{{link.pagination}}"
              class:="cssLast"
              onclick="next"
            >
              <i class="{{css.icon}}{{icon.next}}"></i>
            </button>
          </div>
          <div class="col-auto">
            <button
              class="{{css.link}}{{link.pagination}}"
              class:="cssLast"
              onclick="last"
            >
              <i class="{{css.icon}}{{icon.last}}"></i>
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th class="text-center" colspan="100%">
        <div class="row gx-1 justify-content-center">
          <div class="col-auto">
            <button
              class="{{css.link}}{{link.close}}"
              class:="cssSearch"
              onclick="search"
            >
              <i class="{{css.icon}}{{icon.close}}"></i>
            </button>
          </div>
          <div class="col-auto" with:="Query">
            <input
              class="form-control"
              placeholder="{{text[lang].search}}"
              value:="_search"
              oninput="search"
            />
          </div>
          <div with:="filter" class="col-auto">
            <button
              not:="count"
              class="{{css.link}}{{link.filter}}"
              data-run="open"
              onclick="filter"
            >
              <i class="{{css.icon}}{{icon.filter}}"></i>
              {{text[lang].filter}}
            </button>
            <div if:="count" class="btn-group">
              <button
                type="button"
                class="{{css.link}}{{link.filter}}"
                onclick="filter"
              >
                <i class="{{css.icon}}{{icon.filter}}"></i>
                {{text[lang].filter}}
                (<template text:="count"></template>)
              </button>
              <button
                type="button"
                class="
                  dropdown-toggle
                  dropdown-toggle-split
                  {{css.link}}{{link.filter}}
                "
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></button>
              <ul class="dropdown-menu">
                <li each:="filters">
                  <a
                    class="dropdown-item"
                    href="javascript:;"
                    onclick="filter"
                    data-index:="value"
                  >
                    <i class="{{css.icon}}{{icon.close}}"></i>
                    <template text:="label"></template>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div if:="aggregates" class="col-auto">
            <button
              class="{{css.link}}{{link.group}}"
              class:="groupStatus"
              onclick="group"
            >
              <i not:="grouped" class="{{css.icon}}{{icon.group}}"></i>
              <i if:="grouped" class="{{css.icon}}{{icon.close}}"></i>
              {{text[lang].group}}
            </button>
          </div>
          <div class="col-auto">
            <button
              class="{{css.link}}{{link.exporter}}"
              class:="cssExporter"
              onclick="exporter"
            >
              <i class="{{css.icon}}{{icon.exporter}}"></i>
              {{text[lang].exporter}}
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr with:="filter" show:="isOpen">
      <th class="text-center" colspan="100%">
        <div class="row gx-1 justify-content-center">
          <div class="col-auto">
            <button
              class="{{css.link}}{{link.close}}"
              data-run="close"
              onclick="filter"
            >
              <i class="{{css.icon}}{{icon.close}}"></i>
            </button>
          </div>
          <div class="col-auto">
            <select class="form-control" name="field" onchange="filter">
              <option each:="fields" bind:></option>
            </select>
          </div>
          <div class="col-auto">
            <select class="form-control" name="operator" onchange="filter">
              <option each:="operators" bind:></option>
            </select>
          </div>
          <div class="col-auto">
            <select
              hide:="any"
              class="form-control"
              class:="pending"
              name="value"
              onchange="filter"
            >
              <option each:="values" bind:></option>
            </select>
            <input
              show:="any"
              class="form-control"
              name="value"
              value:="value"
              onchange="filter"
            />
          </div>
          <div class="col-auto">
            <button
              class="{{css.link}}{{link.filter}}"
              class:="status"
              data-run="submit"
              onclick="filter"
            >
              <i class="{{css.icon}}{{icon.filter}}"></i>
              {{text[lang].filter}}
            </button>
          </div>
        </div>
      </th>
    </tr>
    <tr if:="aggregates">
      <td not:="grouped" if:="check"></td>
      <td not:="grouped" each:="actions"></td>
      <td
        class="text-center align-middle"
        each:="aggregates"
        text:=""
      ></td>
    </tr>
    <tr>
      <th not:="grouped" if:="check" class="text-center align-middle">
        <button
          class="{{css.rowlink}}{{link.check}}"
          title="{{text[lang].check}}"
          onclick="check"
        >
          <i class="{{css.icon}}{{icon.check}}"></i>
        </button>
      </th>
      <th
        not:="grouped"
        class="text-center align-middle"
        each:="actions"
      >
        <i if:="icon" class="{{css.icon}}" class:="icon" title:="title"></i>
        <span not:="icon" text:="title"></span>
      </th>
      <th
        class="text-center align-middle"
        each:="columns"
      >
        <a
          text:="title"
          title:="description"
          data-name:="name"
          class="text-decoration-none text-"
          class:="group"
          href="javascript:;"
          onclick="group"
        ></a>
        <a
          title="{{text[lang].sort}}"
          href="javascript:;"
          data-sort:="name"
          onclick="sort"
          switch:="sort"
        >
          <i case="none" class="{{css.icon}}{{icon.sort}}"></i>
          <i case="asc" class="{{css.icon}}{{icon.sortAsc}}"></i>
          <i case="desc" class="{{css.icon}}{{icon.sortDesc}}"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr each:="rows" title:="description">
      <td not:="grouped" if:="check" class="text-center align-middle">
        <input
          class="form-check-input"
          type="checkbox"
          value:="id"
          checked:="checked"
          onclick="check"
        />
      </td>
      <td not:="grouped" each:="links" class="text-center align-middle">
        <a class="{{css.rowlink}}" class:="link" href:="href" title:="title">
          <i if:="icon" class="{{css.icon}}" class:="icon"></i>
          <span not:="icon" text:="title"></span>
        </a>
      </td>
      <td
        each:="fields"
        class="align-middle "
      >
        <a if:="href" href:="href" text:="value"></a>
        <span not:="href" text:="value"></span>
      </td>
    </tr>
    <tr not:="rows">
      <td colspan="100%">
        <div class="text-center p-5 m-5">
          <i class="{{css.icon}}{{icon.loading}}"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
