<table class="
  table
  table-bordered
  table-center
  table-striped
  table-hover
">
  <thead>
    <tr show:="title">
      <th
        class="text-center"
        colspan="100%"
        title:="description"
        text:="title"
      ></th>
    </tr>
    <tr>
      <th class="text-center" colspan="100%">
        <div class="row gx-1 justify-content-center">
          <div class="col-auto">
            <a class="{{link.back}}" href="javascript:history.back()">
              <i class="{{icon.back}}"></i>
              <template>{{text[lang].back}}</template>
            </a>
          </div>
          <div each:="links" class="col-auto">
            <a href:="href" class="btn btn-" class:="link">
              <i if:="icon" class="fa-solid fa-" class:="icon"></i>
              <span text:="title"></span>
            </a>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <td class="text-center" colspan="100%">
        <div class="row gx-1 justify-content-center">
          <div class="col-auto">
            <button
              class="{{link.pagination}}"
              class:="cssFirst"
              onclick="first"
            >
              <i class="{{icon.first}}"></i>
            </button>
          </div>
          <div class="col-auto">
            <button
              class="{{link.pagination}}"
              class:="cssFirst"
              onclick="previous"
            >
              <i class="{{icon.previous}}"></i>
            </button>
          </div>
          <div class="col-auto my-auto" text:="pagination">
          </div>
          <div class="col-auto">
            <button
              class="{{link.pagination}}"
              class:="cssLast"
              onclick="next"
            >
              <i class="{{icon.next}}"></i>
            </button>
          </div>
          <div class="col-auto">
            <button
              class="{{link.pagination}}"
              class:="cssLast"
              onclick="last"
            >
              <i class="{{icon.last}}"></i>
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th class="text-center" colspan="100%">
        <div class="row gx-1 justify-content-center">
          <div class="col-auto">
            <button
              class="{{link.close}}"
              class:="cssSearch"
              onclick="search"
            >
              <i class="{{icon.close}}"></i>
            </button>
          </div>
          <div class="col-auto" with:="Query">
            <input
              class="form-control"
              placeholder="{{text[lang].search}}"
              value:="_search"
              oninput="search"
            />
          </div>
        </div>
      </th>
    </tr>
    <tr if:="aggregates">
      <td if:="check"></td>
      <td
        class="text-center align-middle"
        each:="aggregates"
        text:=""
      ></td>
    </tr>
    <tr>
      <th if:="check" class="text-center align-middle">
        <button
          class="btn-sm {{link.check}}"
          title="{{text[lang].check}}"
          onclick="check"
        >
          <i class="{{icon.check}}"></i>
        </button>
      </th>
      <th
        class="text-center align-middle"
        each:="actions"
      >
        <i if:="icon" class="fa-solid fa-"class:="icon" title:="title"></i>
        <span not:="icon" text:="title"></span>
      </th>
      <th
        class="text-center align-middle"
        each:="columns"
      >
        <span
          text:="title"
          title:="description"
        ></span>
        <a
          title="{{text[lang].sort}}"
          href="javascript:;"
          data-sort:="name"
          onclick="sort"
          switch:="sort"
        >
          <i case="none" class="{{icon.sort}}"></i>
          <i case="asc" class="{{icon.sortAsc}}"></i>
          <i case="desc" class="{{icon.sortDesc}}"></i>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr each:="rows" title:="description">
      <td if:="check" class="text-center align-middle">
        <input
          class="form-check-input"
          type="checkbox"
          value:="id"
          checked:="checked"
          onclick="check"
        />
      </td>
      <td class="text-center align-middle" each:="links">
        <a class="btn btn-sm btn-" class:="link" href:="href" title:="title">
          <i if:="icon" class="fa-solid fa-" class:="icon"></i>
          <span not:="icon" text:="title"></span>
        </a>
      </td>
      <td
        each:="fields"
        class="align-middle "
      >
        <a if:="href" href:="href" text:="value"></a>
        <span not:="href" text:="value"></span>
      </td>
    </tr>
    <tr not:="rows">
      <td colspan="100%">
        <div class="text-center p-5 m-5">
          <i class="{{loading}}"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
